#inp {
    margin: 20px;
    padding: 20px;
    width: 200px;
    background-color: #c79393 ;
    border-radius:  25px;
}

span {
    margin: 20px;
    padding: 20px;
    width: 200px;
    background-color: #c79393 ;
    border: 2px black solid;
    border-radius:  25px;
}

.box{
    height: 300px;
    border: 2px white solid;
    background-color: #c79393; 
    color: white;
    font-size: 50px;
    border-radius:  25px;
    border: 2px black solid;
}

.box > div{
    display: inline-block;
    background-color:  #a17575;
    font-size: 14px;
    width: 150px;
    height: 60px;
    border-radius:  25px; 
    text-align: center;
    padding-top: 28px;
    margin-left: 10px;
    margin-top: 30px;
    border: 2px black solid;
}
